<form  class="box" action="/products" method="POST">
    <div class="form-group row green-border-focus">
        <label for="name" class="col-sm-2 col-form-label">Product Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="Name">
        </div>
    </div>
    <div class="form-group row green-border-focus">
        <label for="category" class="col-sm-2 col-form-label">Category:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" name="category" placeholder="Category">
        </div>
    </div>

    <div class="form-group row green-border-focus">
        <label for="price" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPassword3" name="price" placeholder="Price">
        </div>
    </div>

    <div class="form-group green-border-focus">
        <label for="description">Description:</label>
        <textarea class="form-control" id="exampleFormControlTextarea5" name="description" rows="3" placeholder="..."></textarea>
    </div>
    <fieldset class="form-group">

    </fieldset>
    <div class="form-group row">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>