<html>
<head>
    <link href="/css/loginstyle.css" rel="stylesheet" >

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action="/users/login" method="POST" class = "box">
                    <h1>Welcome to New Shop</h1>
                    <p class="text-muted"> Please pick one option</p>
                    <input type="submit" name="" value="Log in" href="/users/login">
                    <input type="submit" name="" value="Register" href="/users/register">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
