<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="public/stylesheet/all.css">
<!--    <link rel="stylesheet" href="public/stylesheet/bootstrap.css">-->
    <link rel="stylesheet" href="public/stylesheet/bootstrap.min.css">
    <title>Online Store</title>
</head>

<body>
<div class="container">
    <%- body%>
</div>
<script src="public/js/bootstrap.bundle.min.js"></script>
<script src="public/js/popper.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
</body>
</html>