<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>    
    </tr>
    </thead>

    <thead class="thead-light">
    <% for (var i = 0; i < orders.length; i++) { %>
        <tr>
            <td><%= orders[i].userEmail %></td>
            <td><%= orders[i].productNames%></td>
            <td><%= orders[i].totalPrice%></td>
            
            <td><a href="/getOrdersInProgress/<%=orders[i].id%>"></a><button>REALIZE</button></a></td>
        </tr>
    <% } %>
    </thead>
</table>