<html>
<head>
    <link href="/css/loginstyle.css" rel="stylesheet" >

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action = "/users/register" method="POST" class="box">
                    <h1>Register</h1>
                    <p class="text-muted"> Please create account</p>
                    <input type="name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>">
                    <input type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <input type="password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>">
                    <input type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                    <input type="submit" name="" value="Register" href="#">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>